*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
/*nav*/
nav{
    width: 100%;
    height: 70px;
    background-color: #FF7D7D;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar{
    width: 100%;
    max-width: 1600px;
    min-width:480px;
    display: flex;
    justify-content: space-between;
}
.brand{
    color: white;
    font-size: 40px;
    justify-content: flex-start;
   
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-list ul li{
    margin: 0 20px;
    color: white;
    font-size: 20px;

}

/*content*/
.content{
    padding:120px 0 0 0;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    font-size: 30px;
    /* overflow: auto; */

}

hr{
    
    border: 1px solid #000000;
}

