@model Lab_item_Management_Web.Models.Tool

@{
    ViewData["Title"] = "Edit";
}
<style>
     .content {
        height: 80vh;
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .section {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }
    .layout{
        height: 75vh;
        /* background-color: yellowgreen; */
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        min-width: 1080px;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        font-size: 18px;
    }
    .form-control{
        width: 300px;
        height: 20px;
    }.form-control-L{
        width: 300px;
        height: 100px;

    }
    .btn{
        width: 100px;
        height: 30px; 
        font-size: 16px;
        border-radius: 5px;
        background-color: #BCF4B3;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 20px 0 ;
    }

</style>

<div class="content">
    <div class="section">
        <p>Edit Tool</p>
    </div>
    <hr>
    <div class="layout">
        <form asp-action="EditTool">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control-L" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemAmount" class="control-label"></label>
                <input asp-for="ItemAmount" class="form-control" />
                <span asp-validation-for="ItemAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>

</div>

@* 
<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
