@{
    ViewData["Title"] = "Home Page";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select-Item</title>
    <link rel="stylesheet" href="~/css/select-item.css">
    <link rel="stylesheet" href="~/css/style.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <div class="content">
        <div class="section">
            <p>Lab 1</p>
        </div>
        <hr>
        <div class="layout">
            <div class="lab">
                <img class="lab-img" src="~/img/lab.jpg" />
                <div class="lab-text">
                    <div class="lab-name">Lab 1</div>
                    <div class="lab-description"> bla bla bla ...</div>
                </div>
            </div>
            <div class="item-list">
                <div class="itemlist-top">
                    <div class="list-text">รายการอุปกรณ์</div>
                    <button class="add-btn">Add</button>
                </div>
                <div class="cards-list">
                    <!-- ----------------------- card-1 ----------------------->
                    <div class="item-card">
                        <div class="left-item">
                            <img class="item-img" src="~/img/tool.jpg">
                            <div class="item-text">
                                <div class="item-name">ชื่ออุปกรณ์</div>
                                <div class="item-number">5/10 left</div>
                                <div class="item-description"> สิ่งนี้คืออะไรสัอย่าง อิอิ</div>
                            </div>
                        </div>
                        <button class="book-btn">Book</button>
                    </div>

                    <!-- ----------------------- card-2 ----------------------->
                    <div class="item-card">
                        <div class="left-item">
                            <img class="item-img" src="~/img/tool.jpg">
                            <div class="item-text">
                                <div class="item-name">ชื่ออุปกรณ์</div>
                                <div class="item-number">5/10 left</div>
                                <div class="item-description"> สิ่งนี้คืออะไรสัอย่าง อิอิ</div>
                            </div>
                        </div>
                        <button class="book-btn">Book</button>
                    </div>

                    <!-- ----------------------- card-3 ----------------------->
                    <div class="item-card">
                        <div class="left-item">
                            <img class="item-img" src="~/img/tool.jpg">
                            <div class="item-text">
                                <div class="item-name">ชื่ออุปกรณ์</div>
                                <div class="item-number">5/10 left</div>
                                <div class="item-description"> สิ่งนี้คืออะไรสัอย่าง อิอิ</div>
                            </div>
                        </div>
                        <button class="book-btn">Book</button>
                    </div>

                    <!-- ----------------------- card-4 ----------------------->
                    <div class="item-card">
                        <div class="left-item">
                            <img class="item-img" src="~/img/tool.jpg">
                            <div class="item-text">
                                <div class="item-name">ชื่ออุปกรณ์</div>
                                <div class="item-number">5/10 left</div>
                                <div class="item-description"> สิ่งนี้คืออะไรสัอย่าง อิอิ</div>
                            </div>
                        </div>
                        <button class="book-btn">Book</button>
                    </div>
                </div>
                <div class="itemlist-bottom">
                    <button class="cancel-btn">Cancel</button>
                    <button class="confirm-btn">Confirm</button>

                </div>

            </div>

        </div>
    </div>

</body>

</html>