@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}
<script defer>
    function hello(name){
        console.log(name)
    }
</script>
<h1 onclick="่javascript:hello(`@Context.Session.GetString("username")`)">click me</h1>
<a asp-action="Login"><button>login</button></a>
<a asp-action="Logout"><button>logout</button></a>
                  