/*  
.header .header-text {
position: absolute;
width: 417px;
height: 63px;
left: 54px;
top: -38px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
color: #ffffff;
}

.header-nav-bar {
float: right;
top: 8px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

.header-bg {
position: absolute;
width: 100%;
height: 80px;
left: 0px;
top: 0px;
background: #ff7d7d;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: -200;
} */

/* .main {
background: #fbfbfb;
} */

/* .main-txt {
position: absolute;
width: 232px;
height: 50px;
left: 62px;
top: 100px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
} */
/* 
.main-txt-end-line {
position: absolute;
width: 1315px;
height: 0px;
left: 62px;
top: 167px;

border: 1px solid #000000;
} */

.info-box {
  /* position: absolute; */
  width: 100%x;
  height: 75vh;
  /* left: 65px;
top: 200px; */
  margin: 30px 0;
  background: #ffdfc8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-head {
  /* margin-top: 10px;
margin-left: 2%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px; */
  padding: 10px;

  color: #000000;
}

.lab-box {
  padding-left: 5%;
}

.lab-name {
  /*
margin-top: -30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;

line-height: 28px;

*/
  font-size: 24px;
  color: #000000;
}

.lab-line {
  margin-left: 5%;
  margin-top: -30px;

  border: 1px solid #000000;
}

.item-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 24px;
}

.item {
  grid-area: 1 / 1 / 2 / 2;
}

.start-date-container {
  grid-area: 1 / 2 / 2 / 3;
}

.end-date-container {
  grid-area: 1 / 3 / 2 / 4;
}

.img-box {
  margin-left: 5%;
  margin-top: 0px;
  width: 222px;
  height: 187.03px;
  background-color: #000000;
  /* background: url(image.png), url(image.png); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  overflow: hidden;
}

.img-box img {
  position: relative;
}

.item-info {
  margin-left: 5%;
  margin-top: 0px;
  width: 200px;
  /* font-family: Roboto;
font-style: normal;
font-weight: normal; */
  color: #000000;
  overflow: auto;
}

.time-box {
  margin-top: 2%;
  height: 400px;
  width: 250px;
  overflow: auto;
  background-color: #af8c72;
  border-radius: 10px;
}

.hour-box {
  margin: 10px;
  height: 48px;
  background-color: green;
  border-radius: 10px;
}

.btn-list {
  padding: 20px 100px;
  display: flex;
  justify-content: flex-end;
}

#Confirm {
  background-color: rgb(49, 122, 77);
  color: rgb(255, 255, 255);
  /* position: absolute; */
  width: 100px;
  height: 50px;
  /* bottom: 2%;
right: 2%; */
  margin: 0 20px;
  border-radius: 10px;
}

#Cancel {
  background-color: rgb(255, 72, 72);
  color: rgb(255, 255, 255);
  /* position: absolute; */
  width: 100px;
  height: 50px;
  /* bottom: 2%;
right: 15%; */
  margin: 0 20px;
  border-radius: 10px;
}
